@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Dancing+Script:wght@400..700&family=Frank+Ruhl+Libre:wght@300..900&family=Great+Vibes&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400;1,700;1,700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Satisfy&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Yeseva+One&display=swap');

*{ 
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/backgroundimage.png");
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}

/*LOGO*/
.logo {
  margin-right: 20px;
}
.logo img {
  height: 30px;
}

/*NAVBAR*/
.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to top left, #d6e1e3, #f1f1f7);
  position: relative;
}

.nav-nav {
  display: flex;
  flex: 1; 
}

.nav-item {
  margin-right: 50px;
  list-style: none;
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav-item a:hover {
  color: #f1f1f7;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.cart {
  margin-left: auto; 
}

/*SLIDER*/
.slider {
    width: 100%;
    max-width: 1280px;
    height: 600px;
    overflow: hidden;
}
  
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slide {
    min-width: 100%;
    box-sizing: border-box;
}
  
.slide img {
    width: 100%;
    display: block;
}
  
.previous,
.next {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: linear-gradient(to top left,rgba(214, 225, 227, 0.8),rgba(241, 241, 247, 0.8));
    border: none;
    cursor: pointer;
}
  
.next {
    right: 10px;
}
  
/*ABOUT*/
.about h3{
    margin-top: 20px;
    color: black;
    font-weight: lighter;
}

/*ASSORTMENT*/
.index-content {
    text-align: center;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.index-content h1 {
    width: 100%;
    margin: 10px;
    font-weight: 700;
    text-align: center;
    color: #d6e1e3;
    animation: blinkText 1s infinite;
}
  
@keyframes blinkText {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
  
.content-box {
    position: relative;
    height: 450px;
    width: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
  
.content-box:hover {
    transform: scale(1.05);
    cursor: pointer;
}
  
.content-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
}
  
.content-box img:first-child {
    opacity: 1; 
}
  

/*FOOTER*/
.footer {
    background: linear-gradient(to top left, #d6e1e3, #f1f1f7);
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}
  
.footer-icons,
.footer-copyright {
    display: flex;
    align-items: center;
}
  
.footer-icons p,
.footer-copyright p {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding-right: 20px;
}
  
.footer-icons img,
.footer-copyright img {
    margin-right: 10px;
}


/*SHOP*/
.subcategory-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 5px auto;
}

.subcategory-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.subcategory-section h1 {
  flex: 0 0 250px; 
  font-size: 40px;
  color: #d6e1e3;
  margin: 0 40px 0 0; 
}

.subcategory {
  flex: 1 1 400px; 
  height: 300px;
  color: black;
  border: solid #d6e1e3 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 20px 30px 15px 0;
  box-sizing: border-box;
}

.subcategory p {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 20px;
  padding-top: 30px;
}

.subcategory::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #d6e1e3;
  z-index: 0;
}

.subcategory a {
  text-decoration: none;
  color: black;
}

.subcategory a:hover {
  cursor: pointer;
  font-weight: 900;
}

#kolica-mehanicka {
  background-image: url("../assets/category/mehanicka.png");
}

#kolica-elektromotorna {
  background-image: url("../assets/category/elektromotorna.jpg");
}

#kolica-aktivna {
  background-image: url("../assets/category/aktivna.jpg");
}

#hodalica {
  background-image: url("../assets/category/category2.jpg");
}

#hodalica-zglobna {
  background-image: url("../assets/category/zglobna.jpg");
}

#hodalica-rolator {
  background-image: url("../assets/category/rolator.jpeg");
}

#hodalica-podlakatna {
  background-image: url("../assets/category/podlakatna.jpg");
}

#stake-podlakatne {
  background-image: url("../assets/category/podlakatnastaka1.jpg");
}

#stake-podpazusne {
background-image: url("../assets/category/podpazusna.jpg");
}

#stap {
  background-image: url("../assets/category/stap.jpg");
}

#stap3 {
  background-image: url("../assets/category/stap3.jpg");
}

#stap4 {
  background-image: url("../assets/category/stap4.jpg");
}

#elektricni-krevet {
  background-image: url("../assets/category/elektricni-krevet.jpg");
}

#bolnicki-krevet {
  background-image: url("../assets/category/bolnicki-krevet.jpg");
}

#kucna-nega-krevet {
  background-image: url("../assets/category/kucna-nega-krevet.PNG");
}

#elektricna-dizalica {
  background-image: url("../assets/category/elektricna-dizalica.jpg");
}

#hidraulicna-dizalica {
  background-image: url("../assets/category/hidraulicna-dizalica.jpg");
}

#dizalica-korpa {
  background-image: url("../assets/category/dizalica-korpa.jpg");
}



/*SCROLL*/
.scroll-up,
.scroll-down {
  position: fixed;
  background-color: #d6e1e3; 
  color: white;
  border: none; 
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  font-size: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}

.scroll-up {
  bottom: 140px; 
  right: 5px; 
}

.scroll-down {
  bottom: 80px; 
  right: 5px;
}

.scroll-up:hover,
.scroll-down:hover {
  background-color: #f1f1f7; 
}

